body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
.small-title {
  color: $text-blue;
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}
