body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
$breadcrumb-divider: (">>");
.small-title {
  color: $text-blue;
}
.owl-carousel {
  .owl-item {
    opacity: 0;
    transition: opacity 500ms;
  }
  .owl-item.active {
    opacity: 1;
  }
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-dots {
    text-align: center;
    margin-top: 20px;
    .owl-dot.active {
      width: 38px;
      background-color: #0000fe;
    }
    .owl-dot {
      width: 28px;
      height: 5px;
      margin: 0px 5px;
      cursor: pointer;
      border-radius: 30%;
      display: inline-block;
      background-color: #ececed;
      transition: 0.3s all ease-in-out;
      &:focus {
        outline: none;
      }
    }
  }
}
.scroll-up {
  position: fixed;
  right: 15px;
  bottom: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #e3002a;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 20;
  color: #ffffff;
}
.bg-gray {
  background-color: #f2f2f4 !important;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  li {
    padding: 10px 14px;
    background-color: white;
    transition: all 300ms ease-in-out;
    margin-right: 13px;
    cursor: pointer;
    a {
      color: black;
      font-size: 18px;
      font-weight: 700;
      font-family: $secondary-font;
      transition: all 300ms ease-in-out;
    }
    &:hover {
      background-color: $color-blue;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}
