@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "variables";
@import "website";
@import "components/navbar";
@import "tools";
@import "components/modal";
@import "components/first";
@import "components/search";
@import "components/categories";
@import "components/course";
@import "components/registration";
@import "components/testimonials";
@import "components/latset-news";
@import "components/subscribe-form";
@import "components/footer";
@import "components/breadcrumb-banner";
@import "components/about-us";
@import "components/about-course";
@import "components/filter-search";
@import "components/instructor";
@import "components/contact";
@import "components/course-details";
@import "components/instructor-details";
