#categories {
  padding-bottom: 3rem;
  .categories-slider {
    .category-item {
      position: relative;
      background-color: black;
      border-radius: 10px;
      padding: 25px 40px;
      padding-bottom: 0;
      margin-bottom: 3rem;
      .category-item-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .category-icon {
          line-height: 1;
          margin-right: 15px;
          transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
          i {
            font-size: 45px;
            color: #ff5520;
          }
        }
        .category-text {
          color: white;
          h4 {
            margin-bottom: 0;
            font-weight: 700;
            font-family: "Fira Sans";
          }
          span {
            color: #ababab;
          }
        }
      }
      .category-item-body {
        img {
          max-width: 100%;
          height: auto;
          transition: 0.3s all ease-in-out;
        }
      }
      .item-hover-link {
        position: absolute;
        visibility: hidden;
        background-color: blue;
        border-radius: 50%;
        color: black;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 25px;
        font-weight: 700;
        transition: 0.3s all ease-in-out;
        opacity: 0;
      }
      &:hover {
        .item-hover-link {
          visibility: visible;
          bottom: -30px;
          opacity: 1;
        }
        .category-item-header {
          .category-icon {
            transform: rotateY(360deg);
          }
        }
        .category-item-body {
          img {
            filter: grayscale(1);
          }
        }
      }
    }
    .owl-dots {
      text-align: center;
      .owl-dot.active {
        width: 38px;
        background-color: #0000fe;
      }
      .owl-dot {
        width: 28px;
        height: 5px;
        margin: 0px 5px;
        cursor: pointer;
        border-radius: 30%;
        display: inline-block;
        background-color: #ececed;
        transition: 0.3s all ease-in-out;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
