#course {
  background-color: $bg-gray;
  padding: 110px 0;
  .section-title {
    .background-title {
      color: white;
      opacity: 0.7;
    }
  }
  .course-card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    padding-bottom: 0;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 6px 38px 0px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    .course-card-header {
      margin-bottom: 10px;
      overflow: hidden;
      img {
        max-width: 100%;
        border-radius: 5px;
        transition: 0.5s all ease-in-out;
      }
    }
    .course-card-body {
      margin-bottom: 12px;
      padding-bottom: 15px;
      border-bottom: 2px solid #e9e9e9;
      .price {
        display: flex;
        color: #555555;
        font-size: 18px;
        align-items: baseline;
        p {
          margin-right: 12px;
          margin-left: 12px;
          text-decoration: line-through;
        }
        strong {
          color: #000;
          font-size: 28px;
          font-weight: 700;
        }
      }
      .course-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.444;
        padding-bottom: 8px;
        a {
          color: #000;
          transition: 0.3s all ease-in-out;
        }
      }
      .counts {
        display: flex;
        justify-content: space-between;
        a {
          font-size: 14px;
          color: #565656;
          i {
            color: $color-blue;
            margin-right: 5px;
          }
        }
      }
    }
    .course-card-footer {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      .votes {
        display: flex;
        ul {
          display: flex;
          margin-right: 10px;
          li {
            color: #ffc601;
            font-size: 13px;
          }
        }
        span {
          font-size: 14px;
          color: #555555;
        }
      }
      .course-btn {
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 100%;
        background-color: $color-blue;
        color: #fff;
        font-size: 14px;
        i {
          transition: 0.3s all ease-in-out;
        }
      }
    }
    &:hover {
      box-shadow: -3.285px 20.741px 51px 0px rgba(0, 0, 47, 0.233);
      .course-card-header {
        img {
          transform: scale(1.1);
        }
      }
      .course-card-body {
        .course-name {
          a {
            color: $color-orange;
          }
        }
      }
      .course-card-footer {
        .course-btn {
          background-color: $color-orange;
          i {
            animation: toBottomFromTop 0.3s forwards;
          }
        }
      }
    }
  }
  .course-card.course-about {
    .course-card-header {
      img {
        width: 100%;
      }
    }
    .course-card-body {
      .price {
        justify-content: space-between;
        .course-amount {
          display: flex;
          justify-content: flex-end;
          align-items: baseline;
        }
      }
      .course-name {
        font-size: 22px;
        height: 80px;
      }
    }
    .course-card-footer {
      justify-content: space-between;
    }
  }
  .btn-usual {
    background-color: $color-blue;
    height: 50px;
    width: 170px;
    font-size: 15px;
    margin: 0 auto;
    line-height: 50px;
    i {
      margin-left: 10px;
      transition: 0.3s all ease-in-out;
    }
    &:hover {
      color: white;
      i {
        animation: toBottomFromTop 0.3s forwards;
      }
    }
    &::after {
      background-color: $color-orange;
    }
  }
}

//media
@media only screen and(max-width:992px) {
  #course {
    .course-card {
      .course-card-header {
        img {
          width: 100%;
        }
      }
      .course-card-body {
        text-align: center;
        .price {
          justify-content: center;
        }
      }
      .course-card-footer {
      }
    }
  }
}

//animation
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
