#first {
  padding-bottom: 170px;
  overflow: hidden;

  .first-dot-square {
    z-index: 1;
  }
  .dot-square1 {
    width: 7px;
    height: 7px;
    top: 200px;
    left: 150px;
    background-color: #00a4ff;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, 0.466);
    animation: animationFramesOne 12s infinite alternate;
  }
  .dot-square2 {
    top: 150px;
    left: 25%;
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.178);
    animation: animationFramesTwo 18s infinite alternate;
  }
  .dot-square3 {
    bottom: 150px;
    left: 150px;
    width: 10px;
    height: 10px;
    background-color: #ff5520;
    box-shadow: 0px 6px 13px 0px rgba(255, 84, 32, 0.158);
    animation: animationFramesOne 12s infinite alternate;
  }
  .dot-square4 {
    width: 10px;
    height: 10px;
    right: 50%;
    bottom: 200px;
    background-color: #0000fe;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, 0.26);
    animation: animationFramesTwo 18s infinite alternate;
  }

  .banner-content {
    position: relative;
    background-color: $bg-gray;
    .banner {
      width: 100%;
      img {
        position: absolute;
        right: -139px;
        max-width: 50%;
      }
    }
    .first-content {
      padding-top: 130px;
      z-index: 1;
      position: relative;
      padding-bottom: 160px;
      .subtitle {
        display: flex;
        align-items: baseline;
        margin-bottom: 2rem;
        span {
          background: blue;
          color: white;
          border-radius: 32px;
          padding: 11px 30px;
          z-index: 2;
          font-size: 16px;
          font-weight: 500;
        }
        p {
          padding: 11px 36px;
          background: #efeff0;
          margin-left: -29px;
          border-radius: 32px;
          z-index: 1;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .animated-title {
        h1 {
          color: #000;
          font-size: 58px;
          font-weight: 700;
          line-height: 1.2;
          padding-bottom: 35px;
          span {
            color: $color-blue;
          }
        }
      }
      p {
        color: #4f4f4f;
        font-size: 20px;
        line-height: 1.6;
        padding-bottom: 40px;
      }
      a {
        &:hover {
          color: white;
        }
      }
      .buttons {
        display: flex;
        .btn-usual {
          margin-right: 10px;
        }
        .btn-play {
          margin-left: 25px;
          width: 50px;
          height: 50px;
          margin-top: 5px;
          line-height: 50px;
          border-radius: 100%;
          transition: 0.3s all ease-in-out;
          background-color: #0000fe;
          color: white;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: #e3002a;
          }
          .play-border {
            height: 100%;
            border-radius: 60px;
            position: absolute;
            animation-play-state: running;
            border: 2px solid rgba(0, 0, 0, 0.15);
            animation: border_animation 3.9s linear 0s infinite;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
          }
          .border-delay-2 {
            animation-delay: 1.3s;
          }
          .border-delay-3 {
            animation-delay: 2.6s;
          }
        }
      }
      .background-word {
        left: 0;
        opacity: 0.05;
        z-index: -1;
        line-height: 1;
        color: #00003d;
        font-weight: 700;
        font-size: 265px;
        position: absolute;
        font-family: "Fira Sans";
        bottom: -52px;
      }
    }
  }
}
//media
@media only screen and(max-width:992px) {
  #first {
    .banner {
      display: none;
    }
  }
}
@media only screen and(max-width:565px) {
  #first {
    .banner-content {
      .first-content {
        padding-top: 50px;
        .subtitle {
          display: block;
          text-align: center;
          margin-bottom: 1rem;
          p {
            padding: 15px 0;
            margin-left: 0;
            border-radius: 0;
            background-color: transparent;
          }
        }
        .buttons {
          justify-content: center;
        }
        .background-word {
          bottom: 35px;
        }
        .animated-title {
          h1 {
            font-size: 36px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and(max-width:225px) {
  #first {
    .banner-content {
      .first-content {
        .subtitle {
          span {
            padding: 11px 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

//animation
@keyframes animationFramesTwo {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    transform: translate(-40px, 72px) rotate(104deg) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(111px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(93px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-70px, 72px) rotate(124deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes border_animation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(1.24);
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}
