#subscribe-form {
  background-color: $bg-gray;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  .subscribe-content {
    align-items: center;
    background-color: black;
    z-index: 1;
    border-radius: 5px;
    padding: 35px 40px;
    margin: 0 auto;
    .newsletter-text {
      h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
        font-family: $secondary-font;
      }
      p {
        color: #bbbbbb;
        font-size: 16px;
        font-family: $primary-font;
        span {
          margin-left: 5px;
          img {
            padding-bottom: 5px;
          }
        }
      }
    }
    form {
      display: flex;
      align-items: center;
      input {
        height: 48px;
        width: 100%;
        border: none;
        max-width: 320px;
        padding-left: 20px;
        background-color: #292929;
        margin-right: 10px;
        &:focus {
          outline: none;
        }
      }
      button.btn-usual {
        border-radius: 0;
        transition: 0.3s all ease-in-out;
        border: none;
        width: 145px;
        height: 45px;
        font-size: 14px;
        font-weight: 700;
        span {
          margin-left: 10px;
          i {
            transition: 0.3s all ease-in-out;
          }
        }
        &:focus {
          outline: none;
        }
        &::after {
          background-color: white;
        }
        &:hover {
          color: black;
          i {
            animation: toLeftFromRight 0.3s forwards;
          }
        }
      }
    }
    &::before {
      content: "";
      background-color: #000a1f;
      position: absolute;
      width: 100%;
      height: 165px;
      top: 50%;
      left: 0;
      z-index: -1;
    }
  }
}
//media
@media only screen and(max-width:490px) {
  #subscribe-form {
    .subscribe-content {
      .newsletter-text {
        h3 {
          font-size: 20px;
        }
        img {
          display: none;
        }
      }
      form {
        input,
        button {
          height: 40px !important;
        }
      }
    }
  }
}
//animation
@keyframes toLeftFromRight {
  49% {
    transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  51% {
    opacity: 1;
  }
}
