@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.small-title {
  color: #0101fe;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

* {
  font-family: "Roboto";
}

.navigation-bar {
  background-color: white;
  display: flex;
  padding: 1rem 15px 10px;
}

.navigation-bar .navbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-bar .navbar-content .navbar-logo {
  width: 50%;
}

.navigation-bar .navbar-content .navbar-items {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 5px;
}

.navigation-bar .navbar-content .navbar-items li {
  margin-right: 5rem;
  position: relative;
}

.navigation-bar .navbar-content .navbar-items li:hover::before {
  width: 22px;
  opacity: 1;
}

.navigation-bar .navbar-content .navbar-items li:hover a::after {
  width: 5px;
  opacity: 1;
}

.navigation-bar .navbar-content .navbar-items li::before {
  left: 0;
  top: 30px;
  width: 0%;
  height: 5px;
  content: "";
  position: absolute;
  border-radius: 30%;
  background-color: #0000fe;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}

.navigation-bar .navbar-content .navbar-items li.dropdown::after {
  content: "+";
  position: absolute;
  color: #ff5520;
  font-weight: 900;
  font-size: 19px;
  top: -5px;
  right: -16px;
}

.navigation-bar .navbar-content .navbar-items li a {
  color: #000000;
  font-weight: 700;
}

.navigation-bar .navbar-content .navbar-items li a::after {
  content: "";
  top: 30px;
  left: 25px;
  width: 0px;
  height: 5px;
  position: absolute;
  border-radius: 100%;
  transition: 0.3s all ease-in-out;
  background-color: #0000fe;
  opacity: 0;
}

.navigation-bar .navbar-content .navbar-items .dropdown {
  display: flex;
  position: relative;
}

.navigation-bar .navbar-content .navbar-items .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 45px;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content {
  position: absolute;
  top: 65px;
  left: 0;
  opacity: 0;
  z-index: 2;
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 200px;
  border: none;
  display: block;
  border-radius: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border-bottom: 2px solid #0000fe;
  box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li {
  width: 100%;
  margin-left: 0;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li a {
  width: 100%;
  color: #343434;
  display: block;
  font-size: 14px;
  padding: 10px 25px;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li a:hover {
  background-color: #0000fe;
  color: white;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li a::after {
  content: none;
}

.navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li::before, .navigation-bar .navbar-content .navbar-items .dropdown .dropdown-content li::after {
  content: none;
}

.navigation-bar .navbar-content .navbar-user {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.navigation-bar .navbar-content .navbar-user li {
  padding-top: 15px;
  position: relative;
  padding-left: 15px;
}

.navigation-bar .navbar-content .navbar-user li:first-child {
  padding-left: 0;
}

.navigation-bar .navbar-content .navbar-user li:first-child::after {
  content: "";
  background-color: #d9d9d9;
  width: 2px;
  height: 18px;
  position: absolute;
  left: 26px;
  top: 18px;
}

.navigation-bar .navbar-content .navbar-user li a {
  color: #5a5a5a;
  transition: all 300ms ease;
  cursor: pointer;
}

.navigation-bar .navbar-content .navbar-user li a:hover {
  color: #0101fe;
}

.navigation-bar .navbar-content .menu-btn {
  display: none;
  padding-right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #e3002a;
}

.navigation-bar .mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  left: 0;
  top: 0;
}

.navigation-bar .mobile-menu .menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.navigation-bar .mobile-menu .menu-content {
  position: fixed;
  justify-content: center;
  right: 0;
  top: 0;
  width: 301px;
  height: 100%;
  background-color: #000;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.navigation-bar .mobile-menu .menu-content .close-btn {
  cursor: pointer;
  color: #e3002a;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 20px;
}

.navigation-bar .mobile-menu .menu-content .mobile-logo {
  padding-top: 10px;
  text-align: center;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar {
  width: 100%;
  padding: 25px 35px;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar li {
  width: 100%;
  display: block;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar li a {
  padding: 0;
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px 10px 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(78, 78, 78, 0.41);
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar .mobile-dropdown {
  position: relative;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar .mobile-dropdown span {
  color: #9397a7;
  position: absolute;
  top: 3px;
  right: 0;
  height: 30px;
  padding: 5px 10px;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar .mobile-dropdown .mobile-dropdown-content {
  display: none;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar .mobile-dropdown .mobile-dropdown-content li {
  border: none;
  padding: 1px 20px;
  line-height: 1;
}

.navigation-bar .mobile-menu .menu-content .mobile-navbar .mobile-dropdown .mobile-dropdown-content li a {
  padding: 0;
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px 10px 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(78, 78, 78, 0.41);
}

@media only screen and (max-width: 992px) {
  .navigation-bar .navbar-content .navbar-items {
    display: none;
  }
  .navigation-bar .navbar-content .navbar-user {
    display: none;
  }
  .navigation-bar .navbar-content .menu-btn {
    display: block;
  }
}

.mobile-active {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.mobile-active .mobile-menu {
  visibility: visible;
}

.mobile-active .mobile-menu .menu-overlay {
  opacity: 1;
  visibility: visible;
}

.mobile-active .mobile-menu .menu-content {
  transform: translate(0);
  transition: all 0.7s ease-out;
}

.btn-usual {
  color: #fff;
  width: 160px;
  height: 55px;
  display: block;
  overflow: hidden;
  font-weight: 700;
  line-height: 55px;
  border-radius: 40px;
  background-color: #ff5520;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-usual:hover::after {
  height: 100%;
  width: 150%;
}

.btn-usual::after {
  top: 0;
  width: 0;
  left: -40%;
  content: "";
  z-index: -1;
  height: 100%;
  position: absolute;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  background-color: #0000fe;
}

.section-title {
  position: relative;
  max-width: 590px;
  margin: 0 auto;
  text-align: center;
}

.section-title .background-title {
  position: absolute;
  top: -60px;
  left: 50%;
  opacity: 0.04;
  color: #53536c;
  line-height: 1;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
  transform: translateX(-50%);
}

.section-title .section-subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #0000fe;
  padding: 0px 15px;
  position: relative;
}

.section-title .section-bigtitle {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.125;
  padding: 15px 0px 20px;
}

@media only screen and (max-width: 560px) {
  .section-title .background-title {
    font-size: 77px;
  }
  .section-title .section-bigtitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 396px) {
  .section-title .background-title {
    font-size: 64px;
  }
  .section-title .section-bigtitle {
    font-size: 24px;
  }
}

.modal-dialog {
  max-width: 570px;
}

.modal-dialog .modal-content {
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.modal-dialog .modal-content .modal-header {
  position: relative;
  z-index: 1;
  padding: 30px 0px;
  background-image: url("/assets/img/pop up form banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-dialog .modal-content .modal-header::after {
  top: 0;
  z-index: -1;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.7);
}

.modal-dialog .modal-content .modal-header .modal-head-content {
  text-align: center;
  margin: 0 auto;
  max-width: 310px;
}

.modal-dialog .modal-content .modal-header .modal-head-content p {
  color: #fff;
  font-size: 15px;
  padding-top: 15px;
}

.modal-dialog .modal-content .modal-body {
  padding: 50px;
  padding-bottom: 25px;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-signup-login-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-signup-login-btn .signup-btn,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-signup-login-btn .login-btn {
  padding: 10px 40px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-signup-login-btn .login-btn {
  background-color: #0000fe;
  color: white;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  font-size: 15px;
  font-weight: 700;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-signup-login-btn .signup-btn {
  background-color: white;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-left: -1px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab {
  max-width: 370px;
  margin: 0 auto;
  display: block;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form input[type="text"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form input[type="password"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="text"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="password"] {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #efeff0;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form input[type="text"]:focus,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form input[type="password"]:focus,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="text"]:focus,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="password"]:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form span,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form span {
  color: #555555;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form span input[type="checkbox"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form span input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form a,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form a {
  color: #000;
  float: right;
  font-weight: 700;
  padding-bottom: 15px;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form button[type="submit"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form button[type="submit"] {
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #ff5520;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab form button[type="submit"]:focus,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form button[type="submit"]:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab p,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab p {
  text-align: center;
  color: #555555;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .login-tab p a,
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab p a {
  color: #000;
  font-weight: 700;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab {
  max-width: 470px;
  display: none;
}

.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="text"],
.modal-dialog .modal-content .modal-body .modal-signup-login .modal-tab-content .signup-tab form input[type="password"] {
  width: 45% !important;
  float: left !important;
  margin: 0px 10px 20px !important;
}

#first {
  padding-bottom: 170px;
  overflow: hidden;
}

#first .first-dot-square {
  z-index: 1;
}

#first .dot-square1 {
  width: 7px;
  height: 7px;
  top: 200px;
  left: 150px;
  background-color: #00a4ff;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, 0.466);
  animation: animationFramesOne 12s infinite alternate;
}

#first .dot-square2 {
  top: 150px;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #000;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.178);
  animation: animationFramesTwo 18s infinite alternate;
}

#first .dot-square3 {
  bottom: 150px;
  left: 150px;
  width: 10px;
  height: 10px;
  background-color: #ff5520;
  box-shadow: 0px 6px 13px 0px rgba(255, 84, 32, 0.158);
  animation: animationFramesOne 12s infinite alternate;
}

#first .dot-square4 {
  width: 10px;
  height: 10px;
  right: 50%;
  bottom: 200px;
  background-color: #0000fe;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, 0.26);
  animation: animationFramesTwo 18s infinite alternate;
}

#first .banner-content {
  position: relative;
  background-color: #f7f7f7;
}

#first .banner-content .banner {
  width: 100%;
}

#first .banner-content .banner img {
  position: absolute;
  right: -139px;
  max-width: 50%;
}

#first .banner-content .first-content {
  padding-top: 130px;
  z-index: 1;
  position: relative;
  padding-bottom: 160px;
}

#first .banner-content .first-content .subtitle {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
}

#first .banner-content .first-content .subtitle span {
  background: blue;
  color: white;
  border-radius: 32px;
  padding: 11px 30px;
  z-index: 2;
  font-size: 16px;
  font-weight: 500;
}

#first .banner-content .first-content .subtitle p {
  padding: 11px 36px;
  background: #efeff0;
  margin-left: -29px;
  border-radius: 32px;
  z-index: 1;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

#first .banner-content .first-content .animated-title h1 {
  color: #000;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 35px;
}

#first .banner-content .first-content .animated-title h1 span {
  color: #0000fe;
}

#first .banner-content .first-content p {
  color: #4f4f4f;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 40px;
}

#first .banner-content .first-content a:hover {
  color: white;
}

#first .banner-content .first-content .buttons {
  display: flex;
}

#first .banner-content .first-content .buttons .btn-usual {
  margin-right: 10px;
}

#first .banner-content .first-content .buttons .btn-play {
  margin-left: 25px;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  line-height: 50px;
  border-radius: 100%;
  transition: 0.3s all ease-in-out;
  background-color: #0000fe;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first .banner-content .first-content .buttons .btn-play:focus {
  outline: none;
}

#first .banner-content .first-content .buttons .btn-play:hover {
  background-color: #e3002a;
}

#first .banner-content .first-content .buttons .btn-play .play-border {
  height: 100%;
  border-radius: 60px;
  position: absolute;
  animation-play-state: running;
  border: 2px solid rgba(0, 0, 0, 0.15);
  animation: border_animation 3.9s linear 0s infinite;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
}

#first .banner-content .first-content .buttons .btn-play .border-delay-2 {
  animation-delay: 1.3s;
}

#first .banner-content .first-content .buttons .btn-play .border-delay-3 {
  animation-delay: 2.6s;
}

#first .banner-content .first-content .background-word {
  left: 0;
  opacity: 0.05;
  z-index: -1;
  line-height: 1;
  color: #00003d;
  font-weight: 700;
  font-size: 265px;
  position: absolute;
  font-family: "Fira Sans";
  bottom: -52px;
}

@media only screen and (max-width: 992px) {
  #first .banner {
    display: none;
  }
}

@keyframes animationFramesTwo {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    transform: translate(-40px, 72px) rotate(104deg) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes animationFramesOne {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(111px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(93px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-70px, 72px) rotate(124deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes border_animation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(1.24);
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}

.banner-search {
  position: relative;
  top: -197px;
  z-index: 1;
}

.banner-search .search {
  background-color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 23px 22px;
  position: relative;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.041);
}

.banner-search .search .banner-search-shape1 {
  top: -68px;
  left: -107px;
  z-index: -1;
}

.banner-search .search .banner-search-shape2 {
  bottom: -58px;
  right: -64px;
  z-index: -1;
}

.banner-search .search .select-options {
  float: left;
}

.banner-search .search .select-options .select-option {
  width: 165px;
  display: inline-block;
}

.banner-search .search .select-options .select-option .nice-select {
  color: #000;
  border: none;
  height: auto;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans";
}

.banner-search .search .select-options .select-option .nice-select::after {
  top: 0px;
  right: 20px;
  height: auto;
  border: none;
  margin-top: 0;
  font-size: 12px;
  content: "";
  font-weight: 900;
  transform: rotate(0);
  font-family: "Font Awesome 5 Free";
}

.banner-search .search button {
  border: none;
}

.banner-search .search button i {
  padding-right: 10px;
}

.banner-search .search .btn-usual {
  background-color: #0000fe;
  border-radius: 10px;
  width: 177px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-search .search .btn-usual::after {
  background-color: #ff5520;
}

.banner-search .search-text {
  margin-top: 20px;
}

.banner-search .search-text a {
  color: #0000fe;
  text-decoration: underline;
  font-weight: 700;
  margin-left: 9px;
}

@media only screen and (max-width: 1255px) {
  .banner-search {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .banner-search .search .banner-search-shape1,
  .banner-search .search .banner-search-shape2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .banner-search .search .select-options {
    float: none;
  }
  .banner-search .search .select-options .select-option {
    width: inherit;
  }
  .banner-search .search .btn-usual {
    width: 130px;
    margin: 0 auto;
  }
}

#categories {
  padding-bottom: 3rem;
}

#categories .categories-slider .category-item {
  position: relative;
  background-color: black;
  border-radius: 10px;
  padding: 25px 40px;
  padding-bottom: 0;
  margin-bottom: 3rem;
}

#categories .categories-slider .category-item .category-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#categories .categories-slider .category-item .category-item-header .category-icon {
  line-height: 1;
  margin-right: 15px;
  transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
}

#categories .categories-slider .category-item .category-item-header .category-icon i {
  font-size: 45px;
  color: #ff5520;
}

#categories .categories-slider .category-item .category-item-header .category-text {
  color: white;
}

#categories .categories-slider .category-item .category-item-header .category-text h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-family: "Fira Sans";
}

#categories .categories-slider .category-item .category-item-header .category-text span {
  color: #ababab;
}

#categories .categories-slider .category-item .category-item-body img {
  max-width: 100%;
  height: auto;
  transition: 0.3s all ease-in-out;
}

#categories .categories-slider .category-item .item-hover-link {
  position: absolute;
  visibility: hidden;
  background-color: blue;
  border-radius: 50%;
  color: black;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 25px;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}

#categories .categories-slider .category-item:hover .item-hover-link {
  visibility: visible;
  bottom: -30px;
  opacity: 1;
}

#categories .categories-slider .category-item:hover .category-item-header .category-icon {
  transform: rotateY(360deg);
}

#categories .categories-slider .category-item:hover .category-item-body img {
  filter: grayscale(1);
}

#categories .categories-slider .owl-dots {
  text-align: center;
}

#categories .categories-slider .owl-dots .owl-dot.active {
  width: 38px;
  background-color: #0000fe;
}

#categories .categories-slider .owl-dots .owl-dot {
  width: 28px;
  height: 5px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 30%;
  display: inline-block;
  background-color: #ececed;
  transition: 0.3s all ease-in-out;
}

#categories .categories-slider .owl-dots .owl-dot:focus {
  outline: none;
}

#course {
  background-color: #f7f7f7;
  padding: 110px 0;
}

#course .section-title .background-title {
  color: white;
  opacity: 0.7;
}

#course .course-card {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 0;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 6px 38px 0px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
}

#course .course-card .course-card-header {
  margin-bottom: 10px;
  overflow: hidden;
}

#course .course-card .course-card-header img {
  max-width: 100%;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}

#course .course-card .course-card-body {
  margin-bottom: 12px;
  padding-bottom: 15px;
  border-bottom: 2px solid #e9e9e9;
}

#course .course-card .course-card-body .price {
  display: flex;
  color: #555555;
  font-size: 18px;
  align-items: baseline;
}

#course .course-card .course-card-body .price p {
  margin-right: 12px;
  margin-left: 12px;
  text-decoration: line-through;
}

#course .course-card .course-card-body .price strong {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}

#course .course-card .course-card-body .course-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.444;
  padding-bottom: 8px;
}

#course .course-card .course-card-body .course-name a {
  color: #000;
  transition: 0.3s all ease-in-out;
}

#course .course-card .course-card-body .counts {
  display: flex;
  justify-content: space-between;
}

#course .course-card .course-card-body .counts a {
  font-size: 14px;
  color: #565656;
}

#course .course-card .course-card-body .counts a i {
  color: #0000fe;
  margin-right: 5px;
}

#course .course-card .course-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#course .course-card .course-card-footer .votes {
  display: flex;
}

#course .course-card .course-card-footer .votes ul {
  display: flex;
  margin-right: 10px;
}

#course .course-card .course-card-footer .votes ul li {
  color: #ffc601;
  font-size: 13px;
}

#course .course-card .course-card-footer .votes span {
  font-size: 14px;
  color: #555555;
}

#course .course-card .course-card-footer .course-btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  background-color: #0000fe;
  color: #fff;
  font-size: 14px;
}

#course .course-card .course-card-footer .course-btn i {
  transition: 0.3s all ease-in-out;
}

#course .course-card:hover {
  box-shadow: -3.285px 20.741px 51px 0px rgba(0, 0, 47, 0.233);
}

#course .course-card:hover .course-card-header img {
  transform: scale(1.1);
}

#course .course-card:hover .course-card-body .course-name a {
  color: #ff5520;
}

#course .course-card:hover .course-card-footer .course-btn {
  background-color: #ff5520;
}

#course .course-card:hover .course-card-footer .course-btn i {
  animation: toBottomFromTop 0.3s forwards;
}

#course .btn-usual {
  background-color: #0000fe;
  height: 50px;
  width: 170px;
  font-size: 15px;
  margin: 0 auto;
  line-height: 50px;
}

#course .btn-usual i {
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}

#course .btn-usual:hover {
  color: white;
}

#course .btn-usual:hover i {
  animation: toBottomFromTop 0.3s forwards;
}

#course .btn-usual::after {
  background-color: #ff5520;
}

@media only screen and (max-width: 992px) {
  #course .course-card .course-card-header img {
    width: 100%;
  }
  #course .course-card .course-card-body {
    text-align: center;
  }
  #course .course-card .course-card-body .price {
    justify-content: center;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

#registration {
  position: relative;
}

#registration .container {
  max-width: 1200px;
}

#registration .container .registration-content {
  position: relative;
  z-index: 1;
  padding: 45px;
  box-shadow: -3.285px 20.741px 51px 0px rgba(0, 0, 47, 0.021);
  background-color: #fff;
}

#registration .container .registration-content .girl {
  position: absolute;
  right: 0;
  bottom: 0;
}

#registration .container .registration-content .registration-text {
  max-width: 450px;
}

#registration .container .registration-content .registration-text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  padding-bottom: 20px;
  margin: 0;
}

#registration .container .registration-content .registration-text h3 span {
  color: #ff5520;
}

#registration .container .registration-content .registration-text p {
  color: #c6c6c6;
  padding-bottom: 25px;
  margin: 0;
}

#registration .container .registration-content .registration-text .btn-usual {
  height: 45px;
  width: 140px;
  color: #fff;
  display: block;
  font-size: 15px;
  line-height: 45px;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
  border-radius: 40px;
  background-color: #00a4ff;
}

#registration .container .registration-content .registration-text .btn-usual::after {
  background-color: #ff5520;
}

#registration .container .registration-content::before {
  content: "";
  background-image: url("/assets/img/reklam banner.png");
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

#registration .container::before {
  content: "";
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 992px) {
  #registration .registration-content .girl {
    display: none;
  }
  #registration .registration-content::before {
    width: 100% !important;
  }
}

@media only screen and (max-width: 555px) {
  #registration .registration-content {
    padding: 19px !important;
  }
}

#testimonials {
  padding-top: 140px;
  overflow: hidden;
}

#testimonials .testimonials-slider {
  margin-top: 20px;
  margin-bottom: 20px;
}

#testimonials .testimonials-slider .testimonials-item {
  background-color: white;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 12px 35px 0px rgba(12, 12, 12, 0.062);
  border-radius: 10px;
  padding: 40px 30px 25px;
}

#testimonials .testimonials-slider .testimonials-item .quoute-icon {
  text-align: right;
}

#testimonials .testimonials-slider .testimonials-item .quoute-icon i {
  color: #efefef;
  line-height: 1;
  font-size: 30px;
  transition: 0.3s all ease-in-out;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-text h6 {
  font-size: 18px;
  font-weight: 700;
  color: #0000fe;
  padding-bottom: 15px;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-text p {
  color: #666666;
  margin-bottom: 0;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author {
  display: block;
  margin-top: 20px;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-img {
  position: relative;
  overflow: hidden;
  margin-right: 12px;
  border-radius: 100%;
  float: left;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-img img {
  width: 65px;
  height: 65px;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-img::before {
  top: 0;
  width: 65px;
  content: "";
  position: absolute;
  border: 3px solid #0000fe;
  z-index: 1;
  left: 0;
  height: 65px;
  border-radius: 100%;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-img::after {
  top: 3px;
  width: 60px;
  content: "";
  height: 60px;
  border: 5px solid #fff;
  position: absolute;
  left: 3px;
  border-radius: 100%;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-name {
  padding-top: 5px;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-name a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

#testimonials .testimonials-slider .testimonials-item .testimonial-author .author-name p {
  color: #888888;
  font-size: 14px;
}

#testimonials .testimonials-slider .testimonials-item:hover {
  transform: translateY(-25px);
  box-shadow: 0px 36px 35px 0px rgba(12, 12, 12, 0.2);
}

#testimonials .testimonials-slider .testimonials-item:hover .quoute-icon i {
  color: #ff5520;
}

#testimonials .testimonials-slider .owl-item {
  opacity: 0;
  transition: opacity 500ms;
}

#testimonials .testimonials-slider .owl-item.active {
  opacity: 1;
}

#testimonials .testimonials-slider .owl-dots {
  text-align: center;
  margin-top: 45px;
}

#testimonials .testimonials-slider .owl-dots .owl-dot.active {
  width: 38px;
  background-color: #0000fe;
}

#testimonials .testimonials-slider .owl-dots .owl-dot {
  width: 28px;
  height: 5px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 30%;
  display: inline-block;
  background-color: #ececed;
  transition: 0.3s all ease-in-out;
}

#testimonials .testimonials-slider .owl-dots .owl-dot:focus {
  outline: none;
}

#testimonials .owl-carousel .owl-stage-outer {
  overflow: visible;
}
/*# sourceMappingURL=style.css.map */